:root {
  --light-blue: #A9CCE3;
  --medium-blue: #5499C7;
  --high-blue: #2471A3;
  --ultra-dark-blue: #1A5276;
  --white: white;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--ultra-dark-blue);
  color: var(--white);
}
